<html>		
		<div class="row">
			<h2>Type pacient's PESEL</h2>
		    <form:form method="POST" modelAttribute="chosenPacient" class="navbar-form navbar-left">
			        <div class="form-group>
			        	<label class="col-md-3 control-lable" for="total">PESEL</label>
			            <form:input type="number" step="any" path="pesel" class="form-control" id="pesel" required = "true"/>
			            <input type="submit" value="search" class="btn btn-default">
			        </div>
		    </form:form>
		</div>
</html> 