<html>
	<div class="container"/>
		<div id="exTab1" class="container">	
			<ul class="nav nav-tabs nav-justified">
		    	<h1><a href="#"><span>MedApp</span></a></h1>
			      <li class="home selected"><a class="active" href="<c:url value='/home' />"><span>pacients in risk</span></a></li>
			      <li class="diabetic"><a href="<c:url value='/diabetic' />"><span>diabetic</span></a></li>
			      <li class="blood pressure"><a href="<c:url value='/pressure' />"><span>pressure</span></a></li>
			      <li class="calculators"><a href="<c:url value='/calculators' />"><span>calculators</span></a></li>
		    </ul>
		</div>
</html>